.about {
  min-height: 30rem;
}

.about-tabs {
  &-link {
    font-size: 20px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    color: #bdbdbd;
    &-left {
      text-align: center;
    }
    &.active {
      color: black;
    }
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }
}

.about-title {
  text-align: center;
  padding-bottom: 40px;
}

.about-story-quote {
  padding: 16px 20px;
  text-align: left;
  background: rgba(81, 182, 136, 1);
  color: white;
  margin: 20px 20px 20px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #C4C4C4;
}

@media (max-width: 992px) {
  .about-tabs {
    &-left {
      text-align: center;
    }
  }
}