.about {
  min-height: 30rem;
}

.about-title {
  text-align: center;
  padding: 20px 0 50px 0;
}

.about-story-quote {
  padding: 16px 20px;
  text-align: center;
  background: rgba(81, 182, 136, 1);
  color: white;
  margin:20px;
  border-radius: 10px;
}