.about {
  min-height: 30rem;
}

.about-tabs {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
  &-link {
    transition: 0.3s;
    font-size: 20px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    color: #bdbdbd;
    &.active {
      color: black;
    }
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }
}

.about-title {
  text-align: center;
  padding-bottom: 40px;
}

.about-story-quote {
  padding: 16px 20px;
  text-align: center;
  background: rgba(81, 182, 136, 1);
  color: white;
  margin:20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #C4C4C4;
}