.contact {
  padding-top: 85px;
  min-height: 95vh;
  position: relative;
}

.contact-info {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.contact-form {
  width: 575px;
}

.contact-image {
  margin-right: 80px;
  border-radius: 10px;
  height: 500px;
}

.contact-column {
  margin-top: 20px;
}

.form-control {
  background-color: rgba(196, 196, 196, 0.22) !important;
  color: #A0A0A0 !important;
  font-size: 20px !important;
  border: none !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

input {
  border: none !important;
  &:focus {
    border: none !important;
  }
}

@media (max-width: 1100px) {
  .contact-image {
    height: 400px;
  }
  .contact-form {
    width: 475px;
  }
}

@media (max-width: 900px) {
  .contact-image {
    height: 325px;
  }
  .contact-info {
    flex-direction: column;
  }
  .contact-form {
    width: 300px;
  }
  .contact-column {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  .contact-image {
    display: none;  
  }
  .contact-form {
    width: 350px;
  }
}