.contact {
  padding-top: 85px;
  min-height: 45rem;
  position: relative;
}

.contact-form {
}

.contact-image {
  margin-right: 80px;
  border-radius: 10px;
  height: 500px;
}

.form-control {
  background-color: rgba(196, 196, 196, 0.22) !important;
  color: #A0A0A0 !important;
  font-size: 20px !important;
  border: none !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

input {
  border: none !important;
  &:focus {
    border: none !important;
  }
}