.home {
  position: relative;
}

.home-heading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../images/home-header-bg.jpg');
  background-size: cover;
  background-position: center;
}

.home-heading-box {
  max-width: 80%;
  color: white;
  // padding: 1rem;
  // border-radius: 10px;
  // background: rgba(0, 0, 0, 0.2);
}

.home-title {
  font-size: 100px;
  font-family: QuincyCF-BoldItalic;
}

.home-secondary-title {
  font-size: 25px;
}

.home-tertiary-title {
  font-size: 26px;
}

// ------------------- Tailored Model ----------------------- //

.tailored-model {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5rem 3rem;
}

.tailored-model-card {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.tailored-model-card-image-box {
  min-width: 300px;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.tailored-model-card-image {
  width: 300px;
  object-fit: cover;
}

.tailored-model-card-image-icon {
  width: 50px;
  height: 50px;
  background-color: #48b4e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  &.right {
    top: 0;
    left: 100%;
  }
}

.tailored-model-card-icon-mobile {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #48b4e0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

.tailored-model-card-image-icon h5 {
  padding: 0;
  margin: 0;
}

.tailored-model-card-icon-mobile h5 {
  padding: 0;
  margin: 0;
}

// ----------- Partners ---------- //

.partners-home {
  text-align: center;
  color: #bdbdbd;
}

.partners-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 5px;
  &:not(:last-child) {
    margin-right: 5px;
  }
}

// ------- footer ------ //
.home-footer-box {
  display: flex;
  padding: 3rem 1rem;
}
.home-footer-details {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .home-heading {
    min-height: 80vh;
  }
  .home-title {
    font-size: 80px;
  }
}

@media (max-width: 800px) {
  .home-heading {
    min-height: 70vh;
  }
  .home-heading-box {
    padding: 2rem 0 0 0;
    max-width: 90%;
  }
  .home-title {
    font-size: 50px;
  }
  .home-secondary-title {
    font-size: 20px;
  }
  
  .home-tertiary-title {
    font-size: 20px;
  }
  .tailored-model {
    padding: 0;
  }
  .tailored-model-card {
    text-align: center;
    flex-direction: column;
  }
  .tailored-model-card-image-box {
    display: none;
  }
  .tailored-model-card-icon-mobile {
    display: flex;
  }
  .home-footer-box {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
  .home-footer-details {
    margin-right: 0;
  }
}