.about-banner {
  height: 500px;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../images/about-bg.jpg');
  background-size: cover;
  background-position: 10% 10%;

  @media (max-width: 400px) {
    background-position: 40% 10%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}