.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(72, 180, 224);
  color: white;
  height: 50px;
  padding: 0 50px;
}

.social-links {
  color: white;
}

@media (max-width: 800px) { 
  .footer {
    height: 50px;
    flex-direction: row;
    padding: 10px 20px;
  }
}