.navbar {
  z-index: 5;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px !important; 
}

.dropdown-toggle .nav-link {
  color: white !important;
  &.black {
    color: black !important;
  }
}

.dropdown-item {
  color: #48b4e0 !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: #e0ad3e !important;
  }

  &.black {
    color: black !important;
    &:hover {
      color: #e0ad3e !important;
    }
  }

  &.active {
    color: #e0ad3e !important;
  }
}

.nav-item a {
  color: white !important;
  font-weight: bold;
}

.nav-item .dropdown-item a {
  color: #48b4e0 !important;
  font-weight: bold;
}

@media (max-width: 600px) {
  .nav-logo {
    width: 200px;
  }
  .navbar {
    padding: 15px 20px !important; 
  }
}

@media (max-width: 400px) {
  .nav-logo {
    width: 175px;
  }
  .navbar {
    padding: 15px 10px !important; 
  }
}