.team-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.member-card-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}